<div class="container mx-auto mt-8 bg-slate-100">
  <h1 class="text-3xl text-center font-semibold mb-4" style="color: #434b54;">Categories</h1>

  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
    <% @groups.each do |group| %>
      <div class="bg-white p-6 rounded-lg shadow-md mb-4">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center">
            <img src=<%=group.icon%> class="images"  alt="icon-picture" width="80" height="80">
            <h2 class="text-xl text-gray-600/50 font-semibold ml-4"><%= group.name %></h2>
          </div>
          <p class="font-semibold" style="color: #434b54;">$<%= group.purchases.sum(:amount) %></p>
        </div>
        <%= link_to 'View Transactions', group_purchases_path(group), class: 'text-blue-500 block mt-2' %>
      </div>
    <% end %>
  </div>

  <div class="mt-8 p-2 rounded text-center" style="background-color: #5fb523;">
    <div class="w-90 mx-auto">
      <%= link_to 'Add a new category', new_group_path, class: 'text-white font-semibold py-4 px-4 border border-white rounded transition duration-300 ease-in-out hover:bg-white hover:text-green-500 block w-full' %>
    </div>
  </div>
</div>
