<div class="container mx-auto mt-8 text-center">
  <h1 class="text-3xl font-semibold mb-6">Add a new transaction for <%= @group.name %></h1>

  <%= form_for([@group, @purchase], html: { class: 'max-w-md mx-auto' }) do |f| %>
    <% if @purchase.errors.any? %>
      <div id="error_explanation" class="mb-4">
        <h2 class="text-red-500"><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul class="list-disc list-inside text-left text-red-500">
          <% @purchase.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= f.label :name, class: 'block text-gray-600 text-md' %>
      <%= f.text_field :name, class: 'w-full border rounded-md p-2', placeholder: 'Transaction Name' %>
    </div>

    <div class="mb-4">
      <%= f.label :amount, class: 'block text-gray-600 text-md' %>
      <%= f.number_field :amount, class: 'w-full border rounded-md p-2', placeholder: 'Amount (USD)' %>
    </div>

    <div class="mb-6">
      <%= f.submit 'Create Transaction', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    </div>
  <% end %>

</div>
