<% content_for :additional_links do %>
  <a href="<%= groups_path %>" class="text-lg text-white"><i class="fas fa-arrow-left"></i></a>
<% end %>
<div class="container mx-auto mt-8 text-center">
  <h1 class="text-3xl font-semibold mb-6" style="color: #434b54;">Transactions for <%= @group.name %></h1>

  <div class="mb-6">
    <p class="text-gray-600 font-semibold mb-6">Total Amount: $<%= @total_amount %></p>
    <div class="mt-8 p-2 rounded text-center" style="background-color: #5fb523;">
      <div class="w-90 mx-auto">
        <%= link_to 'Add a new transaction', new_group_purchase_path(@group), class: 'text-white font-semibold py-4 px-4 border border-white rounded transition duration-300 ease-in-out hover:bg-white hover:text-green-500 block w-full' %>
      </div>
    </div>
  </div>

  <% @purchases.each do |purchase| %>
    <div class="bg-white rounded-lg shadow-md mb-8">
      <div class="flex justify-between items-center p-6">
        <h3 class="text-xl font-semibold"><%= purchase.name %></h3>
        <p class="text-green-500 font-semibold">Amount: $<%= purchase.amount %></p>
      </div>
      <div class="text-center p-6 bg-gray-100">
        <p class="text-gray-600">Created at: <%= purchase.created_at %></p>
      </div>
    </div>
  <% end %>
</div>
